.idea/int3507-2017.iml
.idea/markdown-navigator.xml
.idea/misc.xml
.idea/modules.xml
.idea/preferred-vcs.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/markdown-navigator/profiles_settings.xml
