<!DOCTYPE html>
<html>
  <head>
    <title>GameEnglish</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Modak|Shrikhand|VT323" rel="stylesheet">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
