<div class="container">
<h3>Enter Course</h3>
  <form>
    <div class="form-group">
      <label for="course_id">Course ID:</label>
      <input type="text" class="form-control" id="course_id" required [(ngModel)]="course_id" name="course_id">
      <button type="button" class="btn btn-default" (click)="search()">Search</button>
    </div>
  <!-- <button type="submit" class="btn btn-default">Save</button> -->
  </form>
</div>

<div>
  <h3>Student List</h3>
  <table style="width: 50%">
    <tr>
      <th>Student ID</th>
      <th>Name</th>
      <th>Mid Term</th>
      <th>Final</th>
    </tr>
    <tr *ngFor="let student of students">
      <td>{{student.student_id}}</td>
      <td>{{student.student_name}}</td>
      <td>{{student.mid_term_score}}</td>
      <td>{{student.final_score}}</td>
    </tr>
  </table>
</div>
