<!DOCTYPE html><html><head><meta charset=utf-8><title>vue-voting</title><link href=/static/css/app.42bddb4d090f49aab0b1870acafd5d76.css rel=stylesheet></head><body><div id=app></div><script type=text/javascript src=/static/js/manifest.5e455f1dabd59370e10b.js></script><script type=text/javascript src=/static/js/vendor.103fb2312ae98ec4c1f7.js></script><script type=text/javascript src=/static/js/app.c2b0f0ef9b835ecfdb39.js></script></body></html>