<script src="phaser/phaser.js" type="text/javascript"></script>
<script src="phaser/xuly.js" type="text/javascript"></script>
<script src="phaser/boot.js" type="text/javascript"></script>
<script src="phaser/preload.js" type="text/javascript"></script>
<script src="phaser/welcome.js" type="text/javascript"></script>
<script src="phaser/verb1.js" type="text/javascript"></script>
<script src="phaser/mainmenu.js" type="text/javascript"></script>
<div id="divgame"></div>
